@font-face {
  font-family: 'automaton';
  src:
    url('automaton.ttf?rewnsi') format('truetype'),
    url('automaton.woff?rewnsi') format('woff'),
    url('automaton.svg?rewnsi#automaton') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
